
@using Microsoft.AspNetCore.Authentication

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link navbar-text" asp-area="" asp-controller="Home" asp-action="Approver">Approver<i class="fas fa-user-check" id="approverIcon"></i></a>
        </li>
        <li class="nav-item">
            <a class="navbar-text" id="navBarSeparator">|</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-text" asp-controller="Account" asp-action="Logout">Sign out<i class="fas fa-sign-out-alt" id="signOutIcon"></i></a>
        </li>
 }
    else
    {
        <li class="nav-item">
            <a class="nav-link navbar-text" asp-area="AzureAD" asp-controller="Account" asp-action="SignIn"><i class="fas fa-sign-in-alt" id="signInIcon"></i>Sign in</a>
        </li>
}
</ul>