@{
    ViewData["Title"] = "Success Page";
}
<div class="lead">

    <p class="text-center">You have successfully submitted the Incident Form</p>
    <br />
    <p class="text-center">Return to <a asp-action="Index">Home Page</a></p>

</div>